body {
    margin: 0;
    padding-top: 150px;
    background-color: #777;
    color: #eee;
}

canvas {
    padding-top: 12px;
    /*display: block;*/
    /*margin: auto;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}

.navbar {
    padding-bottom: 10px;
    opacity: 0.84;
}

.projectlabel {
    color: #888;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;

}

#maincontrol {
}

#instructions {
    position: absolute;
    position: fixed;
    right: 1em;
    color: #757575;
    opacity: 0.8;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 512px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}

#instructions .slider-track {
    background: #778877;
}

/* bootstrap theme override TODO extract */

.well {
    background-image: -webkit-linear-gradient(top, #c8c8c8 0%, #d5fdd5 100%);
    background-image: linear-gradient(to bottom, #c8c8c8 0%, #d5d5d5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
